.abot_us {
    display: flex;
    justify-content: space-between;
    gap:400px;
    align-items: flex-start;
    padding: 50px;
    background-image: url('../assets/images/background_2.png'); 
    background-size: cover; 
    background-position: center; 
    color: white; 
    position: relative; 
}
.abot_us::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный слой для улучшения читаемости текста */
    z-index: 1;
}

.text-content, .stats {
    position: relative; 
    z-index: 2; 
}
.text-content {
    margin-left: 130px;
    margin-top:180px;
    width: 45%; /* Ширина текстового блока */
}
.text-content h1 {
    font-size: 2.4em;
    margin-bottom: 20px;
    color: #FF9505;
}
.text-content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #FFFBFB;
}
.stats {
    width: 40%; /* Ширина блока статистики */
    display: flex;
    flex-direction: column; /* Статистика в столбик */
    gap: 10px; /* Отступ между элементами */
}
.stat {
    text-align: center; /* Выравнивание текста по левому краю */
    width: 270px;
}
.stat h2 {
    color: #FF9505;
    font-size: 2em;
    opacity: 80%;
}
.stat h3 {
    color: #FFFBFB;
    font-size: 1.5em;
    opacity: 75%;
}
.stat p {
    color: #FFFBFB;
    font-size: 1em;
    line-height: 1.4;
    opacity:60%;
}


@media (max-width: 768px) {
    .abot_us {
      flex-direction: column; 
      gap: 70px; 
    }
    .text-content {
        width: 100%; 
        margin-left: 0px;
        margin-top: 0px;
    }
    .text-content p{
        font-size: 0.9em;
        white-space: pre-wrap;
        text-align: center;
    }
    .text-content h1{
        font-size: 2em;
        text-align: center;
    }
    .stats {
        width: 100%;
    }
    .stat {
        text-align: center; 
        width: 100%;
    }
    .stat h2 {
        font-size: 2em;
    }
    .stat h3 {
        font-size: 1.5em;
    }
    .stat p {
        font-size: 1em;
        line-height: 1.4;
    }
  }