body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1B1B1B;
}

.button-section {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    padding: 20px;
    background-color: #1B1B1B;
 }
  
 .more-section {
    margin-top: 25px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
  }

  .view-text{
    font-size: 14px;
    color: #FFFBFB;
    margin-bottom: 30px;
  }

  .filter-button {
    padding: 10px 20px; 
    font-size: 16px;
    color: #FFFBFB;
    background-color: #1B1B1B;; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
  }
  
  .filter-button.active {
    color: #FF9505; 
    border-color: #FF9505; 
  }

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
.card {
    background-color: #555;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 565px;
    width: 100%;
    height: 582px;
    transition: transform 0.3s ease;
    background-color: #2C2B2B;
    
}

.icon-text {
    display: flex;
}


.icon-text-text{
    font-size: 16px;
    color: #FFFBFB;
    opacity: 70%;
    padding-top: 8px;
}

.card:hover {
    transform: translateY(-10px);
}
.card-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.card-content {
    padding: 15px;
}
.card-content h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
}
.card-content p {
    margin: 5px 0;
    font-size: 1em;
    color:white ;
}

.details{
    margin-top: 15px;
    max-width: 535px;
    width: 100%;
    height: 42px;
    border: 2px solid #9e9e9e;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
}

.bedrooms{
    width: 33%;
    display: flex;
    border-right: 2px solid #9e9e9e;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 2px;
}

.bath{
    width: 33%;
    display: flex;
    border-right: 2px solid #9e9e9e;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 2px;
}

.square{
    width: 33%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.icon_b{
    width: 16px;
    height: 16px;
}

.text-ic{
    width: auto;
    color: #FFFBFB;
    opacity: 65%;
    align-items: center;
    text-wrap: nowrap;
}

.card-content .details span {
    font-size: 0.9em;
    color: #777;
}

.more-button{
    background: transparent; 
    border: none;
    padding: 0;
    cursor: pointer; 
}

.more-button:hover img {
    opacity: 0.8; 
  }

  .more-button:active img {
    opacity: 0.6; 
  }

@media (max-width: 480px){
    .card {
        background-color: #555;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        max-width: 565px;
        width: 100%;
        height: 623px;
        transition: transform 0.3s ease;
        background-color: #2C2B2B;
        
    }
    
    .details{
        height: 90px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    .bedrooms{
        height: 33%;
        width: 100%;
        border-bottom: 2px solid #9e9e9e;
    }
    
    .bath{
        height: 33%;
        width: 100%;
        border-bottom: 2px solid #9e9e9e;
    }
    
    .square{
        height: 33%;
        width: 100%;
    }
}
