footer {
    background-color: #1B1B1B;
    color: white;
    text-align: center;
}

.top_footer {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .logo_text {
    padding-top: 70px;
    padding-left: 130px;
    max-width: 300px;
  }
  
  .logo_bot img {
    height: 50px;
    margin-bottom: 10px;
  }
  
  .footer-text {
    padding-left: 45px;
    width: 280px;
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
    opacity: 80%;
    color: #FFFBFB;
  }
  
  .contacts {
    margin-right: 200px;
    padding-top: 40px;
    display: table-column;
    gap: 40px;
    text-align: left;
  }

  .tx {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }

  .custom-hr {
    width: 50px;
    margin-right: 200px;
  }

  .adress{
    margin-top: 40px;
  }

  .contacts h3{
    font-size: 13px;
    color: white;
  }

  .contacts p{
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 70%;
  }
  
  .footer-bottom {
    text-align: center;
    border-top: 1px solid #555;
    font-size: 14px;
    color: #FFFBFB;
    opacity: 70%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  @media (max-width: 768px) {

    .top_footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .logo_text{
        padding-left: 0px;
    }

    .footer-text{
        padding-left: 0px;
        text-align: center;
    }

    .contacts {
        margin-right: 0px;
        text-align: center;
      }
    
      .tx {
        color: white;
        font-size: 18px;
        font-weight: bold;
      }
    
      .custom-hr {
        width: 50px;
        margin-left: 40%;
      }
    
      .adress{
        margin-top: 40px;
      }
    
      .contacts h3{
        font-size: 13px;
        color: white;
      }
    
      .contacts p{
        font-size: 13px;
        margin-top: 5px;
        margin-bottom: 5px;
        opacity: 70%;
      }
      
      .footer-bottom {
        text-align: center;
        border-top: 1px solid #555;
        font-size: 14px;
        color: #FFFBFB;
        opacity: 70%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
  }